!!!
html
  head
    title Machete Test
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic', rel='stylesheet')
    include style
  body

    #slides
      - each slide in slides
        div!= slide

    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')    
    include script
