:coffeescript
  $ ->

    #
    # navigation
    #

    $.fn.currentSlide = ->
      @removeClass().addClass 'current'
      @prevAll().removeClass().addClass 'past'
      @nextAll().removeClass().addClass 'future'
      if @has('h3').length then @addClass 'pinned'

    $.fn.next_loop = ->
      $next = @next()
      return $next if $next.length
      @siblings().first()

    $.fn.prev_loop = ->
      $prev = @prev()
      return $prev if $prev.length
      @siblings().last()

    $('#slides div').addClass 'future'
    $('#slides div:first').currentSlide()

    #
    # keyboard triggers
    #

    next_slide = ->
      $('#slides .current').next_loop().currentSlide()

    prev_slide = ->
      $('#slides .current').prev_loop().currentSlide()

    $(window).on 'keydown', (e) ->
      switch e.keyCode
        when 39 then next_slide()
        when 37 then prev_slide()
