font-size = 16
normalize()
base()

html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

body
  color: #444
  font-family: Lato, sans-serif
  background: radial-gradient(#353535, #191919)

#slides

  div
    position: fixed
    margin: auto
    top: 0
    bottom: 0
    left: 0
    right: 0
    color: #fff
    display: table
    width: 65%
    max-width: 750px

    &.pinned
      height: 80%

  //
  // transition types
  //

  &.none div
    &.future, &.past
      display: none

  &.slide.loaded div
    transition: left .5s ease

  h1
    text-align: center
    font-size: 3.3em
    margin: .5em 0

  h2
    text-align: center
    font-weight: 500
    font-size: 1.3em

  h3
    font-size: 2em
    margin: 0 0 1em 0
    border-bottom: 1px solid rgba(#fff,.4)
    padding-bottom: .5em
    text-align: center
    font-weight: 500

  p, li
    font-size: 1.2em
    line-height: 1.5em

  a
    text-decoration: none
    color: #f0b963
    transition()
    hover-underline()

